backports.tarfile
fqdn
importlib-metadata
isoduration
japanize-matplotlib
jaraco.collections
jsonpointer
jupyterlab
llvmlite
mplfinance
openpyxl
pingouin
pip-chill
pip-review
tinycss2
tomli
uri-template
webcolors
xlrd
